tqdm
nltk
jsonlines
fuzzywuzzy
more_itertools
transformers==4.13.0
spacy
psutil
ftfy
torch>=1.7
datasets==2.0.0
pytrec_eval
ir_datasets==0.5.0
pyserini==0.15.0
numpy
tensorboard
WMI
cachelib
setuptools
tensorboardX
fairseq
faiss-cpu
pathos
markupsafe==2.0.1